################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/JCSoft.MyServices/.vs/JCSoft.MyServices/v16
/JCSoft.MyServices/bin/Debug/netcoreapp2.2
/JCSoft.MyServices/obj
